<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script>
    $(function(){
    var index = {
        init:function(){
        this.getAjax();
        this.postAjax();
        },
        getAjax:function(){
        $.ajax({
            type:'GET',
            url:'/get',
            success:function(res){
            console.log(res);
            }
        })
        },
        postAjax:function(){
        $.ajax({
            type:'POST',
            url:'/post',
            data:{
            name:'zhangyanwei'
            },
            success:function(res){
            console.log(res);
            }
        })
        }
    }
    index.init();
    })
</script>
