<form class="login-form J-login-form">
    <div class="group">
        <label for="">用户名：</label>
        <input name="name" type="text">
    </div>
    <div class="group">
        <label for="">密码</label>
        <input name="password" type="password">
    </div>
    <p class="success"><span>登录成功</span><a href="/users">跳转</a></p>
    <p class="error"></p>
    <input class="J-submit" value="登录" type="submit">
</form>
<script src="/javascripts/login.js"></script>